@{
    ViewBag.Title = "Home Page";
}



<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#UploadModal">
    UpLoad
</button>




@Html.Partial("_Upload")

<script>

    $('#ButtonSubmit').click(function () {

        var ActionUrl = '@Url.Action("Upload","Home")' //Action位置
        var data = new FormData(); //宣告資料FormData型態要來存檔案資訊用的。
        var files = $("#file").get(0).files;
        data.append(files[0].name, files[0]);

        $.ajax(
            {
              type: "POST",
              url: ActionUrl,
              contentType: false,         // 告诉jQuery不要去這置Content-Type
              processData: false,         // 告诉jQuery不要去處理發送的數據
              data: data
            }).done(function (result)
            {
                $('#PreviewData').html(result);
                $("#PreviewModal").modal()
            })
    });



</script>


